<div class="form-group mt-5">
    <label for="pname">Product Name </label>
    <input type="text" #name class="form-control">
</div>

<div class="form-group">
    <label for="pname">Product Name </label>
    <textarea rows="3" class="form-control" #detail></textarea>
</div>

<div class="text-right">
    <!-- <button class="btn btn-primary" (click)="onAddProduct(name,detail)">Add Product</button> -->

    <button mat-raised-button color="primary" (click)="onAddProduct(name,detail)">Add Product</button>

</div>